<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon" />
  <title>Tables | PlainAdmin Demo</title>

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/lineicons.css" />
  <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
  <div id="preloader">
    <div class="spinner"></div>
  </div>

  <main class="main-wrapper">
    <%- include("../navBar.ejs")%>


      <section class="table-components">
        <div class="container-fluid">
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>View All Admin</h2>
                </div>
              </div>
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Tables
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <div class="tables-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <h6 class="mb-10">Data Table</h6>
                  <p class="text-sm mb-20">
                    For basic styling—light padding and only horizontal
                    dividers—use the class table.
                  </p>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="lead-info">
                            <h6>Lead</h6>
                          </th>
                          <th class="lead-email">
                            <h6>Email</h6>
                          </th>
                          <th class="lead-phone">
                            <h6>Phone No</h6>
                          </th>
                          <th class="lead-company">
                            <h6>Gender</h6>
                          </th>
                          <th>
                            <h6>Action</h6>
                          </th>
                        </tr>

                      </thead>
                      <tbody>
                        <% admins.map((admin)=> { %>
                          <tr>
                            <td class="min-width">
                              <div class="lead">
                                <div class="lead-image">
                                  <img src="<%= admin.adminImg %>" height="50px" />
                                </div>
                                <div class="lead-text">
                                  <p>
                                    <%= admin.firstname%>
                                      <%= admin.lastname%>
                                  </p>
                                </div>
                              </div>
                            </td>
                            <td class="min-width">
                              <p><a href="#0">
                                  <%= admin.email%>
                                </a></p>
                            </td>
                            <td class="min-width">
                              <p>
                                <%= admin.contactnb%>
                              </p>
                            </td>
                            <td class="min-width">
                              <p>
                                <%= admin.gender%>
                              </p>
                            </td>
                            <td>
                              <div class="action" style="display: flex; justify-content: space-evenly;">
                                <a href="/Admin/admin/delete/<%= admin.id%>" class="text-danger">
                                  <i class="lni lni-trash-can"></i>
                                </a>
                                <a href="/Admin/admin/editAdmin/<%= admin.id%>">
                                  <span class="text-success"> <i class="lni lni-pencil-alt"></i></span>
                                </a>
                              </div>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/Chart.min.js"></script>
  <script src="/assets/js/dynamic-pie-chart.js"></script>
  <script src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/fullcalendar.js"></script>
  <script src="/assets/js/jvectormap.min.js"></script>
  <script src="/assets/js/world-merc.js"></script>
  <script src="/assets/js/polyfill.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>